$lt-gray: #ddd;
$background-dark: #1fab89;
$background-light: #002984;
$background-pale: #e3f2fd;
$background-moredark: #1fab89;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

a {
    letter-spacing:2px;
    color: $background-pale;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-pale;
    color: black;
    
}

mat-toolbar {
    background: $background-light ;
}
