$lt-gray: #ddd;
$background-dark: #1fab89;
$background-light: #62d2a2;
$background-pale: #9df3c4;
$background-moredark: #1fab89;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-dark
}

mat-toolbar {
    background: $background-light ;
}