<mat-toolbar>
  <h2>Covid-19 Hospitals</h2>
  <span class="flex-spacer"></span>
  <mat-form-field>
    <mat-select [(ngModel)]="selected">
      <mat-option value="option0">Alphabetically</mat-option>
      <mat-option value="option1">Nearest</mat-option>
      <mat-option value="option2">Price(Ascending)</mat-option>
      <mat-option value="option3">Rating</mat-option>
    </mat-select>
  </mat-form-field>
  </mat-toolbar>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex *ngIf="items">
    <mat-grid-list cols="3" rowHeight="300px" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let item of items" >       
        <mat-card class="hospitalCard" [routerLink]="['/tracking', item.id]">
          <mat-card-header>
            <mat-card-title>{{item.name | uppercase}}</mat-card-title>
            <mat-card-subtitle>{{item.category | uppercase}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image height="200px"  src={{item.image}} alt={{item.name}}>
          <mat-card-content>
            <p>
              Vaccant Beds: {{item.vaccant}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div [hidden]="items">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
</div>
